<!-- _includes/partials/_nav.njk --> 
<aside>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</aside>
